name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build
        run: |
          npm ci
          ./node_modules/hexo/bin/hexo generate
          ls -al public
        env:
          CI: true
      - name: Upload public
        uses: actions/upload-artifact@v1
        with:
          name: public
          path: public

  push:
    name: push public to Tencent COS
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: public
      - name: Tencent Cloud COS Action
        uses: TencentCloud/cos-action@v1
        with:
          secret_id: ${{ secrets.secret_id }}
          secret_key: ${{ secrets.secret_key }}
          cos_bucket: public-1300764707
          cos_region: ${{ secrets.cos_region }}
          local_path: ./public/
          remote_path: .
